.show_detail{
    position: absolute;
    left: 235px;
    top: 70px;
}
#detail_right {
    left: auto;
    right: 235px;
}
/*第一个表*/
.show_detail .one_table .card{
    background: #485164;
}
.show_detail .one_table .content_header{
    text-align: center;
    background: #DD603B;
    color: #fff;
    line-height: 36px;
}
.show_detail .one_table .content{
    padding: 1px;
}
.show_detail .one_table button{
    width: 32.9%;
    padding: 8px;
    margin-bottom: 1px;
    margin-right: 1px;
    border-radius: 0;
    background: #323946;
    color: #fff;
}
.show_detail .one_table button.active,
.show_detail .one_table button:hover{
    background: #DD603B;
    color: #fff;
}
.show_detail .one_table button span:nth-of-type(1){
    font-size: 18px;
    font-weight: bolder;
}
.show_detail .one_table button span:nth-of-type(2){
    font-size: 14px;
    font-weight: 100;
}
.show_detail .one_table button p{
    font-size: 12px;
    font-weight: 100;
}
/*第二个表*/
.show_detail .two_table{
    margin-top: 10px;
    margin-bottom: 10px;
}
.show_detail .two_table .card{
    background: #485164;
    color: #fff;
}
.show_detail .two_table .content{
    padding: 1px;
}
.show_detail .two_table .content div{
    line-height: 36px;
}
.show_detail .two_table .content div:nth-of-type(1){
    border-bottom: 1px solid #A4A8B2;
}
.show_detail .two_table .content div span{
    display: inline-block;
    text-align: center;
}
.show_detail .two_table .content div span:nth-of-type(1){
    border-right: 1px solid #A4A8B2;
    line-height: 20px;
    width: 66.666%;
}
.show_detail .two_table .content div span:nth-of-type(2){
    width: 30%;
}
/*第三个表*/
#three_table, #right_three_table{
    overflow-y: auto;
}
.show_detail .three_table{
    margin-bottom: 10px;
    background: #485164;
}
.show_detail .three_table .card{
    background: #485164;
    color: #fff;
    height: 500px;
}
.show_detail .three_table .content_header{
    text-align: center;
    color: #fff;
    line-height: 54px;
}
.show_detail .three_table input{
    border: none;
    outline:medium;
    width: 94%;
    height: 36px;
    text-align: center;
    border-radius: 3px;
    color: #fff;
    padding-left: 10px;
    background: #323946;
    line-height: 54px;
}
.three_table input::-webkit-input-placeholder { /* WebKit browsers */
    color: #fff;
}

/*  todo   *************************************************************************** */
.show_detail .three_table .threeTableTitle{
    border-bottom: 1px solid #A4A8B2;
    line-height: 36px;
    background: #323946;
}
.show_detail .three_table .threeTableTitle span{
    display: inline-block;
    text-align: center;
}
.show_detail .three_table .threeTableTitle span:nth-of-type(1){
    border-right: 1px solid #A4A8B2;
    line-height: 20px;
    width: 65%;
}
.show_detail .three_table .threeTableTitle span:nth-of-type(2){
    width: 30%;
}
#right_three_table div,
#three_table div{
    cursor: pointer;
}
/*  todo   *************************************************************************** */

.show_detail .three_table .content{
    padding: 1px;
}
.show_detail .three_table .content div{
    line-height: 36px;
}
.show_detail .three_table .content div{
    border-bottom: 1px solid #A4A8B2;
}
/*.show_detail .three_table .content div:nth-of-type(1){
    border-bottom: 1px solid #A4A8B2;
    background: #323946;
}*/
.show_detail .three_table .content div span{
    display: inline-block;
    text-align: center;
}
.show_detail .three_table .content div span:nth-of-type(1){
    border-right: 1px solid #A4A8B2;
    line-height: 20px;
    width: 66.666%;
}
.show_detail .three_table .content div span:nth-of-type(2){
    width: 30%;
}
.show_detail .static-btn{
    background: #323946;
    color: #fff;
    font-weight: normal;
}

.show_detail .static-btn:hover{
    background: #A4A8B2;    
}

.static_detail_left{
    position: absolute;
    display: none;
    left: 545px;
    top: 460px;
    height: 400px;
    right: 235px;
    border-radius: 5px;
    overflow-y: auto;
    background: #485164;
    border: 1px solid #fff;
}
.static_detail_right{
    position: absolute;
    display: none;
    right: 545px;
    top: 460px;
    height: 400px;
    left: 235px;
    border-radius: 5px;
    overflow-y: auto;
    background: #485164;
    border: 1px solid #fff;
}

.static_detail_left .echarts_view{
    display: inline-block;
    width: 335px;
    height: 360px;
    margin: 1.54%;
    background: #b4d95c;
}
.static_detail_right .echarts_view{
    display: inline-block;
    width: 335px;
    height: 360px;
    margin: 1.54%;
    background: #b4d95c;
}
/*广场分类的单独样式*/
#list_left .three_table .content div span:nth-of-type(1){
    border-right: 1px solid #A4A8B2;
    line-height: 20px;
    width: 55%;
}
#list_left .three_table .content div span:nth-of-type(2) {
    width: 45%;
}

/*信息框样式*/
#info {
    position: relative;
    display: none;
    /* position: absolute;
    left: calc(50% - 20px); */
    /* top: 70px; */
    width: 326px;
    height: 105px;
    border: 1px solid #fff;
    background: rgba(237, 105, 64, 0.9);
    color: #fff;
}
#info p:nth-of-type(1){
    width: 200px;
    white-space: nowrap;
    text-overflow:ellipsis;
    overflow:hidden;
    margin-top: -6px;
    padding-bottom: 5px;
}
#info p:nth-of-type(2){
    position: absolute;
    right: 50px;
    top: 7px;
}
#info p:nth-of-type(3){
    padding-top: 8px;
    border-top: 1px solid #fff;
}
#info .remove{
    position: absolute;
    display: inline;
    right: 0;
    top: 6px;
    width: 30px;
    height: 20px;
    cursor: pointer;
}

/*城市广场列表样式*/
#list_left .three_table .card{
    height: auto;
}
#list_left .city{
    color: #fff;
    background: #485164;
}
#list_left .city .city_table{
    margin-bottom: 10px;
}
#list_left .city .city_table .content_header{
    height: 30px;
    line-height: 30px;
    padding-left: 10px;
    background: #323946;
}
#list_left .city .city_table .content_txt{
    padding-left: 10px;
    padding-top: 10px;
    padding-right: 10px;
}
#list_left .city .city_table:nth-of-type(2) .content_txt{
    text-indent: 2em;
}
#list_left .city .city_table .content_detail div{
    line-height: 30px;
    border-bottom: 1px solid #A4A8B2;
}
#list_left .city .city_table .content_detail div span{
    display: inline-block;
    text-align: center;
}
#list_left .city .city_table .content_detail div span:nth-of-type(1){
    border-right: 1px solid #A4A8B2;
    line-height: 20px;
    width: 50%;
}
#list_left .city .city_table .content_detail div span:nth-of-type(2){
    width: 45%;
}